@import "./Variables.scss";

* {
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
	font-family: $primary-font;
}
body {
	background: linear-gradient(to right, $left-color, $right-color);
	.title {
		text-align: center;
		color: white;
	}
	.subtitle {
		text-align: center;
		color: white;
	}
	.container {
		margin: auto;
		display: flex;
		padding: 20px;
		justify-content: space-around;
		text-align: center;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
	.container {
		color: black;
	}
}
@media only screen and (max-width: 899px) {
	.container {
		color: red;
	}
}
